@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script>
    $(document).ready(function () {


        $("#btnLogin").click(function () {

            var requestData = {
                email: $("#username").val(),
                password: $("#password").val()
            }

            //  var username = $("#username").val();
            //  var password = $("#password").val();

            //  $.post("http://localhost:65179/Account/Login",
            //         {username: username,password:password },
            //         function(result){
            //     $('#result').html(data);
            // });

            $.ajax({
                url: 'http://localhost:65179/Account/Login',
                type: 'post',
                contentType: "application/json", 
                data: JSON.stringify(requestData),
                crossDomain: true,
                success: function (data) {
                    console.log(data);
                    $('#result').val(data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('request failed');
                }

            });

            //$.ajax({
            //    url: 'http://localhost:65179/Account/Login',
            //    type: 'post',
            //    contentType: "application/json",
            //    data: '{ "email": "string", "password": "string" }',
            //    crossDomain: true,
            //    success: function (data) {
            //        $('#result').html(data);
            //    }

            //});


        });


        $("#btnTestCORS").click(function () {

            var createCORSRequest = function () {
                var xhr = new XMLHttpRequest();
                if ("withCredentials" in xhr) {
                    // Most browsers.
                    xhr.open(method, url, true);
                } else if (typeof XDomainRequest != "undefined") {
                    // IE8 & IE9
                    xhr = new XDomainRequest();
                    xhr.open(method, url);
                } else {
                    // CORS not supported.
                    xhr = null;
                }
                return xhr;
            };

            var url = 'http://localhost:65179/Account/Login';
            var method = 'post';
            var xhr = createCORSRequest(method, url);

            xhr.onload = function () {
                console.log('OK');
            };

            xhr.onerror = function () {
                console.log('NOT OK');
            };

            xhr.send();

        })
    });
</script>>

Username <input type="text" id="username">
</br>
Password <input type="text" id="password">
</br></br>
<button id='btnLogin'>Loggin</button>
<button id='btnTestCORS'>Test CORS</button>
</br>
<button id='btnUnprotected'>Unprotected</button>
<button>Protected</button>
</br></br>
Result <input type="text" id="result">
